{{#> layouts/main}}
<section class="category-page">
    <h1>{{category.name}}</h1>
    {{#if posts.length}}
        <div class="post-previews">
            {{#each posts}}
                <a href="/post/{{this.slug}}" class="card-link">
                    <sl-card>
                        {{#if this.images.[0]}}
                            <img slot="image" src="{{this.images.[0].thumbnail}}" alt="{{this.title}}" loading="lazy">
                        {{/if}}
                        <h3>{{this.title}}</h3>
                        {{#if this.excerpt}}
                            <p>{{this.excerpt}}</p>
                        {{else}}
                            <p>{{truncate this.body 150}}</p>
                        {{/if}}
                        <div class="post-meta">
                            <span>Event: {{formatDate this.created_at}}</span>
                            <span>Posted: {{formatDate this.updated_at}}</span>
                        </div>
                    </sl-card>
                </a>
            {{/each}}
        </div>
    {{else}}
        <p class="no-posts">No posts found in this category.</p>
    {{/if}}
</section>
{{/layouts/main}} 